<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>Data Produk</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section layout:fragment="content">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Data Produk</h1>
            </div>

            <a th:href="@{/produk/form}" class="btn btn-primary">Tambah Produk</a>
            
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Kode</th>
                        <th>Nama</th>
                        <th>Harga</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p : ${dataProduk}">
                        <td th:text="${p.kode}">P-001</td>
                        <td th:text="${p.nama}">Produk 001</td>
                        <td th:text="${p.harga}">10000</td>
                        <td>
                            <a th:href="@{/produk/form(id=${p.id})}">edit</a> |
                            <a th:href="@{/produk/delete(id=${p.id})}">hapus</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-sm-6">
                    <div sd:pagination-summary="">info</div>
                </div>
                <div class="col-sm-6">
                    <nav class="pull-right">
                        <ul class="pagination" sd:pagination="full">
                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </body>
</html>
